node_modules
.vscode
.DS_Store
*.log
packages/vest/utilities/
packages/n4s/extended/

# build artifacts
packages/*/dist
packages/*/esm
packages/*/*.js
packages/*/*.js.map
packages/*/*.d.ts
packages/*/*.mjs