node_modules
.vscode
.DS_Store
*.log
packages/vest/utilities/
packages/n4s/extended/
packages/n4s/dist
.idea/

# build artifacts
packages/vest/dist
packages/vest/esm
packages/vest/*.js
packages/vest/*.d.ts
packages/vest/*.cjs
packages/vest/*.mjs
packages/n4s/*.js
