node_modules
.vscode
.sass-cache
dev_docpress
_docpress
dev
version.json
version.txt
.version
documentation/MAIN.md
documentation/assets/**/*.css
.DS_Store
*.log
packages/vest/dist
packages/vest/esm
packages/vest/*.js
packages/vest/*.cjs
packages/vest/*.mjs
packages/vest/utilities/
packages/n4s/dist
packages/n4s/*.js
packages/n4s/extended/