
'use strict'

if (process.env.NODE_ENV === 'production') {
  module.exports = require('./${name}.${format}.production.js')
} else {
  module.exports = require('./${name}.${format}.development.js')
}
