.cursor {
  display: inline-block;
  margin-left: 2px;
  font-weight: 400;
  opacity: 1;
}

.cursor.blinking {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
