name: Docs

on:
  schedule:
    - cron: '0 0 * * *'
  push:
    branches:
      - stable

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run
        run: sh ./scripts/update_docs/update_docs.sh
        env:
          EMAIL_ADDRESS: ${{secrets.EMAIL_ADDRESS}}
          GIT_NAME: ${{secrets.GIT_NAME}}
          PUBLIC_REPO_TOKEN: ${{secrets.PUBLIC_REPO_TOKEN}}
